@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
/* * {
  cursor: none;
} */

body {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

